<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0" 
<title>Ciudad de Mendoza,Argentina.</title>
<link rel="stylesheet" href="{{url_for('static',filename= 'style.css')}}">
</head>
<body>
    <header>
        <h1>Mi primera página web</h1>
        <nav>
           <a href="/">Inicio</a>
           <a href="/proyectos">Proyectos</a>
        </nav>
    </header>
    <main>
        {% block content %} {% endblock %}
    </main>
    <footer>
        <p> ©Sofia Loquenz 2025| Contacto:261 275 0088 | Correo:sofialoquenz8@gmail.com</p>
    </footer>
</body>
</html>

