{% extends "base.html" %}

{% block title%} Inicio {% endblock %}

{% block content %} 
<section class = "intro">
  <img class= "avatar" ="https://www.shutterstock.com/image-vector/german-spelling-female-name-sofia-260nw-1662655087.jpg" alt=""> 
  <h2>¡Hola! Soy Sofía Loquenz.</h2>
  <p>Tengo 17 años y soy de Mendoza. Me apasiona el diseño digital y me encanta explorar nuevas formas de crear. A lo largo de los años, he trabajado en varios proyectos que me permitieron experimentar con el diseño gráfico y la creación de contenidos visuales. Utilizo herramientas como Canva para darle vida a mis ideas y me divierte encontrar nuevas formas de expresarme a través de lo digital. En este espacio voy a mostrar un poco de mis trabajos y compartir mi proceso creativo. </p>    
</section>
{% endblock%}
