{% extends "base.html" %}

{% block title%} Proyectos {% endblock %}


{% block content %} 
<section class="Proyectos">
  <div class="grid"> 
    <div class="card"> 
        <h3>Proyecto 1: Semáforo inteligente (con mBlock)</h3>
         <p>Este proyecto simula el funcionamiento de un semáforo para autos y peatones usando mBlock. Programé una secuencia de luces con tiempos específicos y agregué un botón que permite a los peatones "solicitar" el cruce. Aprendí a usar bloques de control, lógica y sensores, y me ayudó a entender cómo funcionan los sistemas automatizados en la vida real.</p>
    </div>
    <div class="card"> 
        <h3>Proyecto 2:Calculadora básica (con Python)</h3>
         <p>Creé una calculadora simple en Python que permite sumar, restar, multiplicar y dividir dos números. Usé condicionales if, funciones y entradas por teclado. Fue una forma práctica de entender la lógica de programación y mejorar mi forma de pensar paso a paso. También le agregué detalles para que fuera más clara y fácil de usar.</p>

    </div>
    <div class="card"> 
        <h3>Proyecto 3:Mini agenda de contactos (con Visual Studio)</h3>
         <p>Diseñé una pequeña aplicación de escritorio en Visual Studio con C# que permite guardar, editar y eliminar contactos (nombre, teléfono y mail). Usé formularios, botones y cajas de texto. Este proyecto me ayudó a entender cómo se construyen interfaces visuales y cómo conectar el diseño con la funcionalidad.</p>

    </div>
  </div> 
{% endblock%}

